mixin teacher-block()
    .col-md-3.col-sm-6.col-xs-12
        .teacher-container
            .teacher-header: img(src="#", alt="teacher 1")
            .teacher-contant
                h4 Alisiya Witson
                .location USA, New-York, 28 year
                    svg: use(xlink:href="assets/svg/sprite.svg#location")
                p.
                    Ut mollis eleifend euismod. In faucibus elit lobortis purus tristique ornare eu eget eros.
                    Aliquam porttitor, ipsum a rutrum commodo, metus est venenatis tortor, aliquam fringilla eros
                    dui ac enim. Nunc egestas vestibulum ante.

mixin teacher-section-block(data)
    section#teacher.background-alizarin
        .container
            .row
                +section-title-block(data.heading)(class="font-color-white")
            .row.mt-50
                +teacher-block()
                +teacher-block()
                +teacher-block()
                +teacher-block()
