//- Connect all modules mixin in template
include head/head
include header/header
include menu-navigation/menu-navigation
include script-block/script-block

//- Connect all section modules
include sections/connect