.social

    a
        padding: 0 4px

    svg
        width: 40px
        height: 40px

.copyright
    color: light-gray
    font-size: 12px
    font-weight: 300
    letter-spacing: 1px

.input-newsletter-container
    border-bottom: 1px solid light-gray
    width: 80%
    float: left
    margin-right: 20px
    padding: 7px 0
    background-color: rgba(255, 255, 255, .2);

.input-newsletter
    width: 80%
    background-color: transparent
    border: none
    outline: none
    color: #fff
    padding-left: 25px
    letter-spacing: 1px
    font-weight: 400

    &::-webkit-input-placeholder
        color:#fff
        transition: color .3s ease
    &::-moz-placeholder
        color:#fff
        transition: color .3s ease
    &:-moz-placeholder
        color:#fff
        transition: color .3s ease
    &:-ms-input-placeholder
        color:#fff
        transition: color .3s ease

    &:focus::-webkit-input-placeholder
        color: transparent
    &:focus::-moz-placeholder
        color: transparent
    &:focus:-moz-placeholder
        color: transparent
    &:focus:-ms-input-placeholder
        color: transparent

.button-newsletter
    margin-top: 0

    @media (max-width: 1200px)
        margin-top: 20px