include components/connect

doctype html
html(lang=config.lang)
    head
        +head(head)
    body.open-sans-font
        include ../assets/svg/sprite.svg
        +menu-navigtion(menu)
        +header(header)
        +programs-section-block(sectionprograms)
        +teacher-section-block(teacher)(class="background-alizarin")
        +course-section-block(course)(class="background-light-gray")
        +registration-section-block(registration)