include components/connect

doctype html
html(lang=config.lang)
    head
        +head(head)
    body.open-sans-font
        +menu-navigtion(menu)
        +header(header)
        +programs-section-block(sectionprograms)
        +teacher-section-block(teacher)