// Background Colors Controlls
.background
    &-light
        background-color: #fff !important
    &-alizarin
        background-color: alizarin !important
    &-light-gray
        background-color: light-gray !important

// Font Color Controlls
.font-color
    &-black
        color: #000000 !important
    &-alizarin
        color: alizarin !important
    &-dark-text
        color: dark-text !important
    &-white
        color: #ffffff !important