body
    font-size $base-font-size
    font-weight $base-font-weight
    color $base-text-color
    line-height $base-line-height
    width: 100%
    height: 100%

a
    &
    &:hover
    &:focus
    &:active
        text-decoration: none