section
    padding-top: 75px
    padding-bottom: 75px

    .section-desc
        display: block
        margin-left: auto
        margin-right: auto
        font-weight: 300
        color: dark-text

    h3[class*="font-color-white"]
        small
            color: light-gray