mixin footer-block(data)
    footer#footer&attributes(attributes)
        .container
            .row
                .col-md-2.col-sm-2.col-xs-12
                    h4 Newsletter
                .col-md-10.col-sm-10.col-xs-12
                    form(name="newsletter")
                        .input-newsletter-container
                            input.input-newsletter(type="text", name="email", placeholder="enter your email address")
                        a.button.button-rounded.button-gray subscribe
            .row.mt-40
                .col-md-12.col-xs-12
                    .social
                        for item in data.social
                            a(href="#{item.link}")
                                svg: use(xlink:href="##{item.icon}")
                    .copyright.mt-30 &copy; 2016. Alexander Borovskikh for learning