//-/////////////////////
//- Base
//-/////////////////////
$base-bg-color                  = #fff
$base-text-color                = #777
$base-quiet-color               = #ccc
$base-loud-color                = #000

$base-font-size                 = 16px
$base-font-weight               = 300
$base-line-height               = 1.42857143

//-/////////////////////
//- Headings
//-/////////////////////
$headings-font-color            = #000
$headings-font-weight           = 700

//-/////////////////////
//- Font size list
//-/////////////////////
$font-size-list                 = 12 14 16 18 20 24 28 32 36 40 48 56 64 72 80

//-/////////////////////
//- Padding and margin params
//-/////////////////////
padding-step                    = 5
padding-start                   = 5px
padding-end                     = 100px
padding-side                    = 'left right top bottom'

margin-step                     = 5
margin-start                    = 5px
margin-end                      = 100px
margin-side                     = 'left right top bottom'

//-/////////////////////
//- Colors
//-/////////////////////
turauoise                       = #1abc9c
green-sea                       = #16a085
emerald                         = #2ecc71
nephritis                       = #27ae60
peter-river                     = #3498db
belize-hole                     = #2980b9
amethyst                        = #9b59b6
wisteria                        = #8e44ad
wet-asphalt                     = #34495e
midnight-blue                   = #2c3e50
sun-flower                      = #f1c40f
orange                          = #f39c12
carrot                          = #e67e22
pumpkin                         = #d35400
alizarin                        = #e74c3c
pomegranate                     = #c0392b
clouds                          = #ecf0f1
silver                          = #bdc3c7
concrete                        = #95a5a6
asbestos                        = #7f8c8d
light-gray                      = #eeeeee
mid-white                       = #f5f7f9

dark-text                       = #747474
black-text                      = #111111