// Text Controlls
.text
    &-center
        text-align: center
    &-left
        text-align: left
    &-right
        text-align: right

// Float Controlls
.float
    &-left
        float: left
    &-right
        float: right

// Shadow Controlls
.text-shadow
    text-shadow 0 1px 2px rgba(0,0,0,.7)

.block-shadow
    box-shadow 0 1px 2px rgba(0,0,0,.7)

// List Style Controlls
.list-style-none
    list-style: none

.horizontal
    display: block

    li
        display: inline-block