mixin menu-navigtion(data)
    nav.menu-navigation
        .menu-header
            svg
                use(xlink:href="assets/svg/sprite.svg#logotype")
        .menu-link
            ul
                for link in data
                    li
                        a(href=link.link)= link.title